<header>

	<h1>Facebook API</h1>

	<div id="login-module">
		<h2>Welcome, please login.</h2>
		<a href="#" id="login-link"><p><strong>Login Facebook</strong></p></a>
	</div>

	<div id="logout-module">
		<h2>Hello! <span class="fb-name"></span></h2>
		<div><a href="#" id="logout-link"><p><strong>Logout</strong></p></a></div>
	</div>
</header>

<section>
	<p>Here's what I just got from you:</p>
	
	<div class="fb-avatar"></div>
	<div>
		<h3 class="fb-name"></h3>
	</div>

	<div>
		<p><strong>Your Likes:</strong></p>
		<div class="fb-likes">
			<!-- <div id="travel-num"></div>
			<div id="arts-num"></div>
			<div id="style-num"></div>
			<div id="food-num"></div>
			<div id="music-num"></div>
			<div id="film-num"></div> -->
		</div>
	</div>

	<div>
		<p><strong>Your Checkins:</strong></p>
	</div>




	
</section>


<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
