<div class="welcome">
	<section>
		<div id="auth-loggedout">


			<div id="login-form">

				<a href="#" id="auth-loginlink">Login</a>
				<!-- <div class="fb-login-button" data-scope="user_likes,user_photos"></div> -->
			</div>
		</div>

		<div id="auth-loggedin" style="display:none">
			<div><a href="#" id="auth-logoutlink">logout</a></div>
			<div><span id="auth-displayname"></span></div>
			<div><img id="avatar"/></div>
		</div>
		
	</section>

	<h1>Middleman is Watching</h1>
	<p class="doc">
		<%= link_to "Read Online Documentation", "http://middlemanapp.com/" %>
	</p><!-- .doc -->
</div><!-- .welcome -->

