<header>

	<h1>Facebook API</h1>

	<div id="login-module">
		<h2>Welcome, please login.</h2>
		<a href="#" id="login-link"><p><strong>Login Facebook</strong></p></a>
	</div>

	<div id="logout-module">
		<h2>Hello! <span class="fb-name"></span></h2>
		<div><a href="#" id="logout-link"><p><strong>Logout</strong></p></a></div>
	</div>
</header>

<section>
	<p>Here's what I just got from you:</p>
	
	<div class="fb-avatar"></div>
	<div>
		<h3 class="fb-name"></h3>
	</div>

	<div>
		<p><strong>Your Likes:</strong></p>
		<div id="fb-like-container">

		</div>
		<div class="clear"></div>
	</div>

	<div>
		<p><strong>Your Checkins:</strong></p>
		<div id="fb-checkins-container">

		</div>
		<div class="clear"></div>
	</div>
</section>